#gamecc666 test

###################
# ignore files
*.config
*.dtbcache
*.suo
*.ide
*.ide-shm
*.ide-wal
*.user
*.pdb
*.gitignore
#commit-*


###################



#******************
#ignore Directory
Data/
Migrations/
.vs/
bin/
obj/
Properties/


#******************