
@{
    ViewData["Title"] = "WebSQL_Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>websql web数据存储</title>
</head>
<body>
    <h2>客户端使用websql缓存数据联系</h2>
</body>
</html>
<script type="text/javascript">
    (function () {
        console.log("进入Js的自执行函数！");
    })();
</script>
