
@{
    ViewData["Title"] = "FirstPage";
    Layout = "_CustomerLayout";
}

@section CssStyle{
    <style type="text/css">
        button {
            color: darkturquoise;
        }
    </style>
}

<div id="rootdiv">
    <button id="toindexpage">返回上一个界面</button>   
</div>

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        console.log("页面结构加载完毕！！！");
        BtnListenEvent();
    });
    var BtnListenEvent = () => {
        $('#toindexpage').on('click', function (data) {
            console.log('---点击了firse界面的上一页按钮；');
            ///第一种直接返回上一个界面但是界面会刷新
            //console.log('---输出上一页的路由地址', document.referrer);
            //window.location.href = document.referrer;
            ///第二种方法直接返回上一个界面但是界面不刷新
            //history.back(-1);
            history.go(-1);
        });
    };
    </script>
}