
@{
    ViewData["Title"] = "Index";
    Layout = "_TestLayout";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
</body>
</html>


