@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <title>使用grid布局</title>
    <style type="text/css">
        body{
            width:100%;
            height:100%;
        }
        #con {
            width: 30%;
            height: 20%;
            max-height: 20%;
            background-color: gold;
            overflow: auto;
            position:relative;
            display: grid;
            grid-template-columns: repeat(auto-fill,80px);
            grid-template-rows: repeat(auto-fill,100px);
            grid-row-gap: 5px;
            justify-content:space-evenly
        }
        .item {
            position:relative;
            width:80px;
            height:100px;
            font-size: 2em;
            text-align: center;
            border: 1px solid #e5e4e9;
        }   
        .textarea_unclass {
            background-color: darkgray;
            color: white;
            text-align: left;
            width: 100%;
            height: 100%;
            resize: none;
        }
        .add_paste {
            border-width: 2px;
            width: 80px;
            height: 80px;
            background-image: url('../images/add_pic.jpg');
            background-repeat: no-repeat;
            margin-left: 5px;
        }


        #cc{
            margin-left:100px;
            margin-top:100px;
            width:100px;
            height:150px;
            background-color:aqua;
            position:relative
        }
        #delete{
            position:absolute;
            right:-10px; 
            top:-10px;
        }
        #interaction {
            width: 30%;
            height: 35%;
            background-color: aquamarine;           
            z-index: 999;
            position: absolute;
            margin-left:35%;            
        }
        #pastecontent{           
            width:100%;
            height:100%;
            resize:none
        }
        .shadow{
            width:100%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
            z-index:998;
            background-color:black;
            opacity:0.6;
        }
    </style>
</head>
<body>
    @*遮罩层*@
    <div class="shadow"></div>
    @*弹窗*@
    <div id="interaction">
        <div id="button_group">
            <button id="close_messagebox">Close</button>
            <button id="ok_messagebox">OK</button>
        </div>
        <div id="input_contain">
            <textarea id="pastecontent"></textarea>
        </div>        
    </div>

    @*这里可以比较readonly与disabled，在添加onclick时候的区别*@
    @*<input type="text" id="testin" value="" onclick="testinEvent()" readonly="readonly" />*@

    <div id="con">
        <button type="button" id="noclassified_add" class="add_paste"></button>
    </div>
    @*库引用*@
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
</body>
</html>
<script type="text/javascript">  
   
    /////测试代码
    //$('#testin').val("gamecc666");
    ////点击的时候弹窗的处理
   
    //function testinEvent() {
    //    console.log('---点击testin开始显示弹窗');
    //    let str = $('#testin').val().toString();
    //    $("#pastecontent").text(str);
    //    $("#interaction").css("display", "");

    //    $(".shadow").css("display", "");
    //}
    


    ///实践代码
    //状态初始化
    var clickobjid = "";
    $("#interaction").css("display", "none");
    $(".shadow").css("display", "none");
    //弹窗按钮事件处理
    $('#close_messagebox').on("click", function () {
        console.log("点击关闭弹窗按钮");
        $("#interaction").css("display", "none");

        $(".shadow").css("display", "none");
    });
    $('#ok_messagebox').on('click', function () {
        console.log('点击了ok按钮');
        let str = $("#pastecontent").val().toString();
        console.log(`输出textcontent内容：${str}`);
        //$('#testin').val(str);        
        $(`#${clickobjid}`).text(str);
        $("#interaction").css("display", "none");

        $(".shadow").css("display", "none");
    });
    //点击显示弹窗
    function showMessageBox(event) {
        console.log('点击了textare便签，开始弹出信息输入框||' + event.target.id);
        console.log(event);
        clickobjid = event.target.id;
        let strs = `#${event.target.id}`;
        let str = $(strs).val().toString();
        console.log('输出值：' + str);
        $("#pastecontent").val(str);
        $("#interaction").css("display", "");

        $(".shadow").css("display", "");
    }

    //删除对应textarea
    function buttonEvent (node) {
        console.log("----触发了删除事件！");
        console.log(node);
        $(node)[0].parentNode.remove();     
    }
    
    //增加便签的事件处理
    var clickCount = 0;
    $('#noclassified_add').on('click', function (event) {
        clickCount++;
        var pasteNode = `<div class='item'><input type='image' src='/images/delete_pic.jpg' id='delete' name='name' value='' onclick='buttonEvent(this)'/><textarea class='textarea_unclass' id='textarea_unclass_${clickCount}' onclick='showMessageBox(event)' readonly='readonly'></textarea></div>`;    
        console.log('点击了增加按钮');        
        $('#noclassified_add').before(pasteNode);
    });
    
</script>


