
@{
    ViewData["Title"] = "Entrance_Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <style type="text/css">

    </style>
</head>
<body>
    <p>Hello Gamecc666</p>
</body>
</html>

<script type="text/javascript">

</script>

