
@{
    ViewData["Title"] = "Entrance_Index";
}
<!--   
    Form标签的target属性=>规定在何处打开 action URL
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>一个表单多个提交按钮&提交完表单界面不刷新</title>
</head>
<body>
    <h2>解决一个表单多个提交按钮&提交完表单界面不刷新</h2>
    <div>
        <form id="form1" name="form1" action="/Entrance/index" method="post" target="iframeForm">
            <span>姓名：<input type="text" name="username" value="" /></span>
            <span>年龄：<input type="text" name="age" value="" /></span>
            <button type="submit" onclick="document.form1.action='/Entrance/SaveData'">保存</button>
            <button type="submit" onclick="document.form1.action='/Entrance/Index/commit'">提交</button>
        </form>
        <iframe src="#" name="iframeForm" style="display:none"></iframe>
    </div>
</body>
</html>


