
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div>
        <h2>测试在一个div里面放置一个url链接</h2>
    </div>
    <div>
        <iframe src="http://zhuoyu-server:6080/arcgis/rest/services/map/MapServer?f=jsapi" style="width:100%;height:500px"></iframe>
    </div>
</body>
</html>
<script type="text/javascript">

</script>



